In [ ]:
from google.colab import files
import pandas as pd
import seaborn as sns
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
uploaded = files.upload()

df = pd.read_csv('US_Presidential.csv')

Saving US_Presidential.csv to US_Presidential (1).csv

The vast majority of this notebook is data cleaning. I couldn't find a great dataset, so I had to manually add some of the data I wanted to examine. Scroll down to the very bottom to see the visualization.

In [ ]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Washington DC': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
    'Maine 1st District': 'ME1',
    'Maine 2nd District': 'ME2',
    'Nebraska 1st District': 'NE1',
    'Nebraska 2nd District': 'NE2',
    'Nebraska 3rd District': 'NE3'
}
states=pd.DataFrame(list(us_state_abbrev.items()),columns = ['State','State_ID'])

In [ ]:
tens=[["AL",9], ["AK", 3], ["AZ",11], ["AR",6], ["CA",55], ["CO",9], 
["CT",7], ["DC",3], ["DE",3], ["FL",29], ["GA",16], ["HI",4], 
["ID",4], ["IL", 20], ["IN",11], ["IA", 6], ["KS",6], ["KY",8], 
["LA",8], ["ME",2], ["ME1",1], ["ME2",1], ["MD",10], ["MA",11],
["MI",16], ["MN",10], ["MS", 6], ["MO",10], ["MT",3], ["NE",2],
["NE1",1], ["NE2",1], ["NE3",1], ["NV",6], ["NH",4], ["NJ",14], 
["NM",5], ["NY",29], ["NC",15], ["ND", 3], ["OH",18], ["OK",7], 
["OR",7], ["PA",20], ["RI",4], ["SC",9], ["SD",3], ["TN",11],
["TX", 38], ["UT", 6], ["VT", 3], ["VA", 13], ["WA",12],["WV",5], 
["WI", 10], ["WY",3]]

tens=pd.DataFrame(tens, columns=['State_ID','Electoral Votes'], index=None)

In [ ]:
oughts=[["AL",9], ["AK", 3], ["AZ",10], ["AR",6], ["CA",55], ["CO",9], 
["CT",7], ["DC",3], ["DE",3], ["FL",27], ["GA",15], ["HI",4], 
["ID",4], ["IL", 21], ["IN",11], ["IA", 7], ["KS",6], ["KY",8], 
["LA",9], ["ME",2], ["ME1",1], ["ME2",1], ["MD",10], ["MA",12],
["MI",17], ["MN",10], ["MS", 6], ["MO",11], ["MT",3], ["NE",2],
["NE1",1], ["NE2",1], ["NE3",1], ["NV",5], ["NH",4], ["NJ",15], 
["NM",5], ["NY",31], ["NC",15], ["ND", 3], ["OH",20], ["OK",7], 
["OR",7], ["PA",21], ["RI",4], ["SC",9], ["SD",3], ["TN",11],
["TX", 34], ["UT", 5], ["VT", 3], ["VA", 13], ["WA",11],["WV",5], 
["WI", 10], ["WY",3]]
oughts=pd.DataFrame(oughts, columns=['State_ID','Electoral Votes'], index=None)

In [ ]:
nineties=[["AL",9], ["AK", 3], ["AZ",8], ["AR",6], ["CA",54], ["CO",8], 
["CT",8], ["DC",3], ["DE",3], ["FL",25], ["GA",13], ["HI",4], 
["ID",4], ["IL", 22], ["IN",11], ["IA", 7], ["KS",6], ["KY",8], 
["LA",9], ["ME",2], ["ME1",1], ["ME2",1], ["MD",10], ["MA",12],
["MI",18], ["MN",10], ["MS", 7], ["MO",11], ["MT",3], ["NE",2],
["NE1",1], ["NE2",1], ["NE3",1], ["NV",4], ["NH",4], ["NJ",15], 
["NM",5], ["NY",33], ["NC",14], ["ND", 3], ["OH",21], ["OK",8], 
["OR",7], ["PA",23], ["RI",4], ["SC",8], ["SD",3], ["TN",11],
["TX", 32], ["UT", 5], ["VT", 3], ["VA", 13], ["WA",11],["WV",5], 
["WI", 11], ["WY",3]]
nineties=pd.DataFrame(oughts, columns=['State_ID','Electoral Votes'], index=None)

In [ ]:
df.head()

         Year                     2020  ...    PVI.47    PVI.48
0       State  Biden, Joe - Democratic  ...  1832 raw  1828 raw
1  Nationwide                     51.3  ...         0         0
2     Alabama                     36.6  ...     40.25     33.76
3      Alaska                     42.8  ...   #DIV/0!   #DIV/0!
4     Arizona                     49.2  ...   #DIV/0!   #DIV/0!

[5 rows x 449 columns]

In [ ]:
df.shape

(59, 449)

In [ ]:
zero=df[['Year', '2000', 'Unnamed: 23']].copy()
zero.head()

         Year                   2000                   Unnamed: 23
0       State  Gore, Al - Democratic  Bush, George W. - Republican
1  Nationwide                   48.4                          47.9
2     Alabama                   41.6                          56.5
3      Alaska                   27.7                          58.6
4     Arizona                   44.7                            51

In [ ]:
zero['State']=zero['Year']
zero['Democrat']=zero['2000']
zero['Republican'] = zero['Unnamed: 23']
zero=zero.drop(['Year','2000','Unnamed: 23'], axis=1)
zero.head()

        State               Democrat                    Republican
0       State  Gore, Al - Democratic  Bush, George W. - Republican
1  Nationwide                   48.4                          47.9
2     Alabama                   41.6                          56.5
3      Alaska                   27.7                          58.6
4     Arizona                   44.7                            51

In [ ]:
zero=zero.drop(zero.index[0])

In [ ]:
zero=zero.drop(zero.index[0])

In [ ]:
zero.head()

        State Democrat Republican
2     Alabama     41.6       56.5
3      Alaska     27.7       58.6
4     Arizona     44.7         51
5    Arkansas     45.9       51.3
6  California     53.4       41.7

In [ ]:
zero=zero.drop(zero.index[-6:])
zero.tail()

            State Democrat Republican
48     Washington     50.1       44.6
49  West Virginia     45.6       51.9
50      Wisconsin     47.8       47.6
51        Wyoming     27.7       67.8
52  Washington DC     85.2          9

In [ ]:
zero.shape

(51, 3)

In [ ]:
zero["Democrat"] = pd.to_numeric(zero["Democrat"], downcast="float")
zero["Republican"] = pd.to_numeric(zero["Republican"], downcast="float")

In [ ]:
zero_districts=[['Maine 1st District',50.52, 42.59],
                  ['Maine 2nd District',47.43, 45.56],
                  ['Nebraska 1st District', 35.92, 58.90],
                  ['Nebraska 2nd District', 38.52, 56.92],
                  ['Nebraska 3rd District', 24.94, 74.92]]

In [ ]:
zero_districts = pd.DataFrame(zero_districts, columns =['State','Democrat', 'Republican'], index=None)

In [ ]:
zero=pd.concat([zero, zero_districts])

In [ ]:
zero['Margin']= (zero["Democrat"] - zero["Republican"])
zero['Partisan Lean']= zero['Margin'] - .5

In [ ]:
zero.head()

        State   Democrat  Republican     Margin  Partisan Lean
2     Alabama  41.599998   56.500000 -14.900002     -15.400002
3      Alaska  27.700001   58.599998 -30.899998     -31.399998
4     Arizona  44.700001   51.000000  -6.299999      -6.799999
5    Arkansas  45.900002   51.299999  -5.399998      -5.899998
6  California  53.400002   41.700001  11.700001      11.200001

In [ ]:
zero.tail()

                   State  Democrat  Republican  Margin  Partisan Lean
0     Maine 1st District     50.52       42.59    7.93           7.43
1     Maine 2nd District     47.43       45.56    1.87           1.37
2  Nebraska 1st District     35.92       58.90  -22.98         -23.48
3  Nebraska 2nd District     38.52       56.92  -18.40         -18.90
4  Nebraska 3rd District     24.94       74.92  -49.98         -50.48

In [ ]:
zero = pd.merge(zero, states, on= 'State', how= 'inner')

In [ ]:
zero= pd.merge(zero, nineties, on= 'State_ID', how= 'inner')
zero['Year']=2000
zero.head()

        State   Democrat  Republican  ...  State_ID  Electoral Votes  Year
0     Alabama  41.599998   56.500000  ...        AL                9  2000
1      Alaska  27.700001   58.599998  ...        AK                3  2000
2     Arizona  44.700001   51.000000  ...        AZ               10  2000
3    Arkansas  45.900002   51.299999  ...        AR                6  2000
4  California  53.400002   41.700001  ...        CA               55  2000

[5 rows x 8 columns]

In [ ]:
baseline=zero[['Partisan Lean', 'State_ID']].copy()
baseline.head()

   Partisan Lean State_ID
0     -15.400002       AL
1     -31.399998       AK
2      -6.799999       AZ
3      -5.899998       AR
4      11.200001       CA

In [ ]:
baseline['Baseline Partisan Lean'] = baseline['Partisan Lean']
baseline=baseline.drop(['Partisan Lean'], axis=1)
baseline.head()

  State_ID  Baseline Partisan Lean
0       AL              -15.400002
1       AK              -31.399998
2       AZ               -6.799999
3       AR               -5.899998
4       CA               11.200001

In [ ]:
zero = pd.merge(zero, baseline, on= 'State_ID', how= 'inner')

In [ ]:
zero.head()

        State   Democrat  ...  Year  Baseline Partisan Lean
0     Alabama  41.599998  ...  2000              -15.400002
1      Alaska  27.700001  ...  2000              -31.399998
2     Arizona  44.700001  ...  2000               -6.799999
3    Arkansas  45.900002  ...  2000               -5.899998
4  California  53.400002  ...  2000               11.200001

[5 rows x 9 columns]

In [ ]:
zero['Change In Partisan Lean'] = zero['Partisan Lean'] - zero['Baseline Partisan Lean']
zero.head()

        State   Democrat  ...  Baseline Partisan Lean  Change In Partisan Lean
0     Alabama  41.599998  ...              -15.400002                      0.0
1      Alaska  27.700001  ...              -31.399998                      0.0
2     Arizona  44.700001  ...               -6.799999                      0.0
3    Arkansas  45.900002  ...               -5.899998                      0.0
4  California  53.400002  ...               11.200001                      0.0

[5 rows x 10 columns]

In [ ]:
four=df[['Year', '2004', 'Unnamed: 19']].copy()
four.head()

         Year                      2004                   Unnamed: 19
0       State  Kerry, John - Democratic  Bush, George W. - Republican
1  Nationwide                      48.3                          50.7
2     Alabama                      36.8                          62.5
3      Alaska                      35.5                          61.1
4     Arizona                      44.3                          54.8

In [ ]:
four['State']=four['Year']
four['Democrat']=four['2004']
four['Republican'] = four['Unnamed: 19']
four=four.drop(['Year','2004','Unnamed: 19'], axis=1)
four.head()

        State                  Democrat                    Republican
0       State  Kerry, John - Democratic  Bush, George W. - Republican
1  Nationwide                      48.3                          50.7
2     Alabama                      36.8                          62.5
3      Alaska                      35.5                          61.1
4     Arizona                      44.3                          54.8

In [ ]:
four=four.drop(four.index[0])

In [ ]:
four=four.drop(four.index[0])

In [ ]:
four.head()

        State Democrat Republican
2     Alabama     36.8       62.5
3      Alaska     35.5       61.1
4     Arizona     44.3       54.8
5    Arkansas     44.5       54.3
6  California     54.3       44.4

In [ ]:
four=four.drop(four.index[-6:])
four.tail()

            State Democrat Republican
48     Washington     52.8       45.6
49  West Virginia     43.2       56.1
50      Wisconsin     49.7       49.3
51        Wyoming     29.1       68.9
52  Washington DC     89.2        9.3

In [ ]:
four.shape

(51, 3)

In [ ]:
four["Democrat"] = pd.to_numeric(four["Democrat"], downcast="float")
four["Republican"] = pd.to_numeric(four["Republican"], downcast="float")

In [ ]:
four_districts=[['Maine 1st District',55.07, 43.14],
                  ['Maine 2nd District',51.95, 46.13],
                  ['Nebraska 1st District', 35.70, 62.97],
                  ['Nebraska 2nd District', 38.52, 60.24],
                  ['Nebraska 3rd District', 23.73, 74.92]]

In [ ]:
four_districts = pd.DataFrame(four_districts, columns =['State','Democrat', 'Republican'], index=None)

In [ ]:
four=pd.concat([four, four_districts])

In [ ]:
four.tail(10)

                    State   Democrat  Republican
48             Washington  52.799999   45.599998
49          West Virginia  43.200001   56.099998
50              Wisconsin  49.700001   49.299999
51                Wyoming  29.100000   68.900002
52          Washington DC  89.199997    9.300000
0      Maine 1st District  55.070000   43.140000
1      Maine 2nd District  51.950000   46.130000
2   Nebraska 1st District  35.700000   62.970000
3   Nebraska 2nd District  38.520000   60.240000
4   Nebraska 3rd District  23.730000   74.920000

In [ ]:
four['Margin']= (four["Democrat"] - four["Republican"])
four['Partisan Lean']= four['Margin'] + 2.4

In [ ]:
four = pd.merge(four, states, on= 'State', how= 'inner')

In [ ]:
four.head()

        State   Democrat  Republican     Margin  Partisan Lean State_ID
0     Alabama  36.799999   62.500000 -25.700001     -23.300001       AL
1      Alaska  35.500000   61.099998 -25.599998     -23.199998       AK
2     Arizona  44.299999   54.799999 -10.500000      -8.100000       AZ
3    Arkansas  44.500000   54.299999  -9.799999      -7.399999       AR
4  California  54.299999   44.400002   9.899998      12.299998       CA

In [ ]:
four= pd.merge(four, oughts, on= 'State_ID', how= 'inner')
four['Year']=2004
four.head()

        State   Democrat  Republican  ...  State_ID  Electoral Votes  Year
0     Alabama  36.799999   62.500000  ...        AL                9  2004
1      Alaska  35.500000   61.099998  ...        AK                3  2004
2     Arizona  44.299999   54.799999  ...        AZ               10  2004
3    Arkansas  44.500000   54.299999  ...        AR                6  2004
4  California  54.299999   44.400002  ...        CA               55  2004

[5 rows x 8 columns]

In [ ]:
four = pd.merge(four, baseline, on= 'State_ID', how= 'inner')
four.head()

        State   Democrat  ...  Year  Baseline Partisan Lean
0     Alabama  36.799999  ...  2004              -15.400002
1      Alaska  35.500000  ...  2004              -31.399998
2     Arizona  44.299999  ...  2004               -6.799999
3    Arkansas  44.500000  ...  2004               -5.899998
4  California  54.299999  ...  2004               11.200001

[5 rows x 9 columns]

In [ ]:
four['Change In Partisan Lean'] = four['Partisan Lean'] - four['Baseline Partisan Lean']
four.head()

        State   Democrat  ...  Baseline Partisan Lean  Change In Partisan Lean
0     Alabama  36.799999  ...              -15.400002                -7.899999
1      Alaska  35.500000  ...              -31.399998                 8.199999
2     Arizona  44.299999  ...               -6.799999                -1.300001
3    Arkansas  44.500000  ...               -5.899998                -1.500002
4  California  54.299999  ...               11.200001                 1.099997

[5 rows x 10 columns]

In [ ]:
eight= df[['Year','2008','Unnamed: 15']].copy()

In [ ]:
eight.head()

         Year                        2008                Unnamed: 15
0       State  Obama, Barack - Democratic  McCain, John - Republican
1  Nationwide                        52.9                       45.6
2     Alabama                        38.7                       60.3
3      Alaska                        37.9                       59.4
4     Arizona                        44.9                       53.4

In [ ]:
eight['State']=eight['Year']
eight['Democrat']=eight['2008']
eight['Republican'] = eight['Unnamed: 15']
eight=eight.drop(['Year','2008','Unnamed: 15'], axis=1)
eight.head()

        State                    Democrat                 Republican
0       State  Obama, Barack - Democratic  McCain, John - Republican
1  Nationwide                        52.9                       45.6
2     Alabama                        38.7                       60.3
3      Alaska                        37.9                       59.4
4     Arizona                        44.9                       53.4

In [ ]:
eight=eight.drop(eight.index[0])

In [ ]:
eight=eight.drop(eight.index[0])

In [ ]:
eight.head()

        State Democrat Republican
2     Alabama     38.7       60.3
3      Alaska     37.9       59.4
4     Arizona     44.9       53.4
5    Arkansas     38.9       58.7
6  California     60.9       36.9

In [ ]:
eight=eight.drop(eight.index[-6:])
eight.tail()

            State Democrat Republican
48     Washington     57.3       40.3
49  West Virginia     42.5       55.6
50      Wisconsin     56.2       42.3
51        Wyoming     32.5       64.8
52  Washington DC     92.5        6.5

In [ ]:
eight.shape

(51, 3)

In [ ]:
eight["Democrat"] = pd.to_numeric(eight["Democrat"], downcast="float")
eight["Republican"] = pd.to_numeric(eight["Republican"], downcast="float")

In [ ]:
eight_districts=[['Maine 1st District',60.51, 37.69],
                  ['Maine 2nd District',54.61, 43.35],
                  ['Nebraska 1st District', 44.33, 54.10],
                  ['Nebraska 2nd District', 49.97, 48.75],
                  ['Nebraska 3rd District', 29.63, 68.64]]

In [ ]:
eight_districts = pd.DataFrame(eight_districts, columns =['State','Democrat', 'Republican'], index=None)

In [ ]:
eight=pd.concat([eight, eight_districts])

In [ ]:
eight.tail()

                   State  Democrat  Republican
0     Maine 1st District     60.51       37.69
1     Maine 2nd District     54.61       43.35
2  Nebraska 1st District     44.33       54.10
3  Nebraska 2nd District     49.97       48.75
4  Nebraska 3rd District     29.63       68.64

In [ ]:
eight['Margin']= (eight["Democrat"] - eight["Republican"])
eight['Partisan Lean']= eight['Margin'] -7.2

In [ ]:
eight.head()

        State   Democrat  Republican     Margin  Partisan Lean
2     Alabama  38.700001   60.299999 -21.599998     -28.799998
3      Alaska  37.900002   59.400002 -21.500000     -28.700000
4     Arizona  44.900002   53.400002  -8.500000     -15.700000
5    Arkansas  38.900002   58.700001 -19.799999     -26.999999
6  California  60.900002   36.900002  24.000000      16.800000

In [ ]:
eight = pd.merge(eight, states, on= 'State', how= 'inner')

In [ ]:
eight.head()

        State   Democrat  Republican     Margin  Partisan Lean State_ID
0     Alabama  38.700001   60.299999 -21.599998     -28.799998       AL
1      Alaska  37.900002   59.400002 -21.500000     -28.700000       AK
2     Arizona  44.900002   53.400002  -8.500000     -15.700000       AZ
3    Arkansas  38.900002   58.700001 -19.799999     -26.999999       AR
4  California  60.900002   36.900002  24.000000      16.800000       CA

In [ ]:
eight= pd.merge(eight, oughts, on= 'State_ID', how= 'inner')

In [ ]:
eight['Year']=2008
eight.head()

        State   Democrat  Republican  ...  State_ID  Electoral Votes  Year
0     Alabama  38.700001   60.299999  ...        AL                9  2008
1      Alaska  37.900002   59.400002  ...        AK                3  2008
2     Arizona  44.900002   53.400002  ...        AZ               10  2008
3    Arkansas  38.900002   58.700001  ...        AR                6  2008
4  California  60.900002   36.900002  ...        CA               55  2008

[5 rows x 8 columns]

In [ ]:
eight.tail()

                    State  Democrat  Republican  ...  State_ID  Electoral Votes  Year
51     Maine 1st District     60.51       37.69  ...       ME1                1  2008
52     Maine 2nd District     54.61       43.35  ...       ME2                1  2008
53  Nebraska 1st District     44.33       54.10  ...       NE1                1  2008
54  Nebraska 2nd District     49.97       48.75  ...       NE2                1  2008
55  Nebraska 3rd District     29.63       68.64  ...       NE3                1  2008

[5 rows x 8 columns]

In [ ]:
eight = pd.merge(eight, baseline, on= 'State_ID', how= 'inner')
eight.head()

        State   Democrat  ...  Year  Baseline Partisan Lean
0     Alabama  38.700001  ...  2008              -15.400002
1      Alaska  37.900002  ...  2008              -31.399998
2     Arizona  44.900002  ...  2008               -6.799999
3    Arkansas  38.900002  ...  2008               -5.899998
4  California  60.900002  ...  2008               11.200001

[5 rows x 9 columns]

In [ ]:
eight['Change In Partisan Lean'] = eight['Partisan Lean'] - eight['Baseline Partisan Lean']
eight.head()

        State   Democrat  ...  Baseline Partisan Lean  Change In Partisan Lean
0     Alabama  38.700001  ...              -15.400002               -13.399997
1      Alaska  37.900002  ...              -31.399998                 2.699998
2     Arizona  44.900002  ...               -6.799999                -8.900001
3    Arkansas  38.900002  ...               -5.899998               -21.100002
4  California  60.900002  ...               11.200001                 5.599999

[5 rows x 10 columns]

In [ ]:
twelve= df[['Year','2012','Unnamed: 11']].copy()

In [ ]:
twelve.head()

         Year                        2012                Unnamed: 11
0       State  Obama, Barack - Democratic  Romney, Mitt - Republican
1  Nationwide                          51                       47.1
2     Alabama                        38.4                       60.5
3      Alaska                        40.8                       54.8
4     Arizona                        44.4                       53.5

In [ ]:
twelve['State']=twelve['Year']
twelve['Democrat']=twelve['2012']
twelve['Republican'] = twelve['Unnamed: 11']
twelve=twelve.drop(['Year','2012','Unnamed: 11'], axis=1)
twelve.head()

        State                    Democrat                 Republican
0       State  Obama, Barack - Democratic  Romney, Mitt - Republican
1  Nationwide                          51                       47.1
2     Alabama                        38.4                       60.5
3      Alaska                        40.8                       54.8
4     Arizona                        44.4                       53.5

In [ ]:
twelve.tail(10)

            State Democrat Republican
49  West Virginia     35.5       62.1
50      Wisconsin     52.8       45.9
51        Wyoming     27.8       68.6
52  Washington DC     90.9        7.3
53            NaN      NaN        NaN
54         Region      NaN        NaN
55    The Midwest     50.6       47.5
56  The Northeast     59.2       39.2
57      The South     44.3       54.4
58       The West     54.1       43.1

In [ ]:
twelve=twelve.drop(twelve.index[0])

In [ ]:
twelve.head()

        State Democrat Republican
1  Nationwide       51       47.1
2     Alabama     38.4       60.5
3      Alaska     40.8       54.8
4     Arizona     44.4       53.5
5    Arkansas     36.9       60.6

In [ ]:
twelve=twelve.drop(twelve.index[-6:])
twelve.tail()

            State Democrat Republican
48     Washington     55.8         41
49  West Virginia     35.5       62.1
50      Wisconsin     52.8       45.9
51        Wyoming     27.8       68.6
52  Washington DC     90.9        7.3

In [ ]:
twelve["Democrat"] = pd.to_numeric(twelve["Democrat"], downcast="float")
twelve["Republican"] = pd.to_numeric(twelve["Republican"], downcast="float")

In [ ]:
twelve.head()

        State   Democrat  Republican
1  Nationwide  51.000000   47.099998
2     Alabama  38.400002   60.500000
3      Alaska  40.799999   54.799999
4     Arizona  44.400002   53.500000
5    Arkansas  36.900002   60.599998

In [ ]:
twelve=twelve.drop(twelve.index[0])

In [ ]:
twelve.shape

(51, 3)

In [ ]:
twelve_districts=[['Maine 1st District',59.57, 38.18],
                  ['Maine 2nd District',52.94, 44.38],
                  ['Nebraska 1st District', 40.83, 57.43],
                  ['Nebraska 2nd District', 45.70, 52.85],
                  ['Nebraska 3rd District', 27.82, 70.24]]

In [ ]:
twelve_districts = pd.DataFrame(twelve_districts, columns =['State','Democrat', 'Republican'], index=None)

In [ ]:
twelve=pd.concat([twelve, twelve_districts])

In [ ]:
twelve['Margin']= (twelve["Democrat"] - twelve["Republican"])
twelve['Partisan Lean']= twelve['Margin'] -3.9

In [ ]:
twelve.head()

        State   Democrat  Republican     Margin  Partisan Lean
2     Alabama  38.400002   60.500000 -22.099998     -25.999998
3      Alaska  40.799999   54.799999 -14.000000     -17.900000
4     Arizona  44.400002   53.500000  -9.099998     -12.999998
5    Arkansas  36.900002   60.599998 -23.699997     -27.599997
6  California  60.200001   37.099998  23.100002      19.200002

In [ ]:
twelve = pd.merge(twelve, states, on= 'State', how= 'inner')

In [ ]:
twelve= pd.merge(twelve, tens, on= 'State_ID', how= 'inner')

In [ ]:
twelve['Year'] =2012

In [ ]:
twelve.head()

        State   Democrat  Republican  ...  State_ID  Electoral Votes  Year
0     Alabama  38.400002   60.500000  ...        AL                9  2012
1      Alaska  40.799999   54.799999  ...        AK                3  2012
2     Arizona  44.400002   53.500000  ...        AZ               11  2012
3    Arkansas  36.900002   60.599998  ...        AR                6  2012
4  California  60.200001   37.099998  ...        CA               55  2012

[5 rows x 8 columns]

In [ ]:
twelve = pd.merge(twelve, baseline, on= 'State_ID', how= 'inner')
twelve.head()

        State   Democrat  ...  Year  Baseline Partisan Lean
0     Alabama  38.400002  ...  2012              -15.400002
1      Alaska  40.799999  ...  2012              -31.399998
2     Arizona  44.400002  ...  2012               -6.799999
3    Arkansas  36.900002  ...  2012               -5.899998
4  California  60.200001  ...  2012               11.200001

[5 rows x 9 columns]

In [ ]:
twelve['Change In Partisan Lean'] = twelve['Partisan Lean'] - twelve['Baseline Partisan Lean']
twelve.head()

        State   Democrat  ...  Baseline Partisan Lean  Change In Partisan Lean
0     Alabama  38.400002  ...              -15.400002               -10.599997
1      Alaska  40.799999  ...              -31.399998                13.499998
2     Arizona  44.400002  ...               -6.799999                -6.199999
3    Arkansas  36.900002  ...               -5.899998               -21.699999
4  California  60.200001  ...               11.200001                 8.000002

[5 rows x 10 columns]

In [ ]:
sixteen=df[['Year','2016','Unnamed: 6']].copy()

In [ ]:
sixteen.head()

         Year                           2016                  Unnamed: 6
0       State  Clinton, Hillary - Democratic  Trump, Donald - Republican
1  Nationwide                             48                        45.9
2     Alabama                           34.4                        62.1
3      Alaska                           36.6                        51.3
4     Arizona                           44.6                        48.1

In [ ]:
sixteen['State']=sixteen['Year']
sixteen['Democrat']=sixteen['2016']
sixteen['Republican'] = sixteen['Unnamed: 6']
sixteen=sixteen.drop(['Year','2016','Unnamed: 6'], axis=1)
sixteen.head()

        State                       Democrat                  Republican
0       State  Clinton, Hillary - Democratic  Trump, Donald - Republican
1  Nationwide                             48                        45.9
2     Alabama                           34.4                        62.1
3      Alaska                           36.6                        51.3
4     Arizona                           44.6                        48.1

In [ ]:
sixteen=sixteen.drop(sixteen.index[0])

In [ ]:
sixteen.head()

        State Democrat Republican
1  Nationwide       48       45.9
2     Alabama     34.4       62.1
3      Alaska     36.6       51.3
4     Arizona     44.6       48.1
5    Arkansas     33.7       60.6

In [ ]:
sixteen.tail(10)

            State Democrat Republican
49  West Virginia     26.2       67.8
50      Wisconsin     46.5       47.2
51        Wyoming     21.9       68.2
52  Washington DC     90.9        4.1
53            NaN      NaN        NaN
54         Region      NaN        NaN
55    The Midwest     44.6       48.9
56  The Northeast     55.5       39.4
57      The South     42.5       53.1
58       The West     53.1       37.9

In [ ]:
sixteen=sixteen.drop(sixteen.index[-6:])

In [ ]:
sixteen_districts=[['Maine 1st District',53.96, 39.15],
                  ['Maine 2nd District',40.98, 51.26],
                  ['Nebraska 1st District', 35.46, 56.18],
                  ['Nebraska 2nd District', 44.92, 47.16],
                  ['Nebraska 3rd District', 19.73, 73.92]]

In [ ]:
sixteen["Democrat"] = pd.to_numeric(sixteen["Democrat"], downcast="float")
sixteen["Republican"] = pd.to_numeric(sixteen["Republican"], downcast="float")

In [ ]:
sixteen_districts = pd.DataFrame(sixteen_districts, columns =['State','Democrat', 'Republican'], index=None)

In [ ]:
sixteen=pd.concat([sixteen, sixteen_districts])

In [ ]:
sixteen['Margin']= (sixteen["Democrat"] - sixteen["Republican"])
sixteen['Partisan Lean']= sixteen['Margin'] -2.1

In [ ]:
sixteen = pd.merge(sixteen, states, on= 'State', how= 'inner')

In [ ]:
sixteen.tail()

                    State  Democrat  Republican  Margin  Partisan Lean State_ID
51     Maine 1st District     53.96       39.15   14.81          12.71      ME1
52     Maine 2nd District     40.98       51.26  -10.28         -12.38      ME2
53  Nebraska 1st District     35.46       56.18  -20.72         -22.82      NE1
54  Nebraska 2nd District     44.92       47.16   -2.24          -4.34      NE2
55  Nebraska 3rd District     19.73       73.92  -54.19         -56.29      NE3

In [ ]:
sixteen['Year']= 2016

In [ ]:
sixteen.head()

        State   Democrat  Republican     Margin  Partisan Lean State_ID  Year
0     Alabama  34.400002   62.099998 -27.699997     -29.799997       AL  2016
1      Alaska  36.599998   51.299999 -14.700001     -16.800001       AK  2016
2     Arizona  44.599998   48.099998  -3.500000      -5.600000       AZ  2016
3    Arkansas  33.700001   60.599998 -26.899998     -28.999998       AR  2016
4  California  61.500000   31.500000  30.000000      27.900000       CA  2016

In [ ]:
sixteen= pd.merge(sixteen, tens, on= 'State_ID', how= 'inner')

In [ ]:
sixteen.head()

        State   Democrat  Republican  ...  State_ID  Year Electoral Votes
0     Alabama  34.400002   62.099998  ...        AL  2016               9
1      Alaska  36.599998   51.299999  ...        AK  2016               3
2     Arizona  44.599998   48.099998  ...        AZ  2016              11
3    Arkansas  33.700001   60.599998  ...        AR  2016               6
4  California  61.500000   31.500000  ...        CA  2016              55

[5 rows x 8 columns]

In [ ]:
sixteen = pd.merge(sixteen, baseline, on= 'State_ID', how= 'inner')
sixteen.head()

        State   Democrat  ...  Electoral Votes  Baseline Partisan Lean
0     Alabama  34.400002  ...                9              -15.400002
1      Alaska  36.599998  ...                3              -31.399998
2     Arizona  44.599998  ...               11               -6.799999
3    Arkansas  33.700001  ...                6               -5.899998
4  California  61.500000  ...               55               11.200001

[5 rows x 9 columns]

In [ ]:
sixteen['Change In Partisan Lean'] = sixteen['Partisan Lean'] - sixteen['Baseline Partisan Lean']
sixteen.head()

        State   Democrat  ...  Baseline Partisan Lean  Change In Partisan Lean
0     Alabama  34.400002  ...              -15.400002               -14.399995
1      Alaska  36.599998  ...              -31.399998                14.599997
2     Arizona  44.599998  ...               -6.799999                 1.199999
3    Arkansas  33.700001  ...               -5.899998               -23.100000
4  California  61.500000  ...               11.200001                16.699999

[5 rows x 10 columns]

In [ ]:
twenty=df[['Year','2020','Unnamed: 2']].copy()

In [ ]:
twenty['State']=twenty['Year']
twenty['Democrat']=twenty['2020']
twenty['Republican'] = twenty['Unnamed: 2']
twenty=twenty.drop(['Year', '2020', 'Unnamed: 2'], axis=1)
twenty.head()

        State                 Democrat                  Republican
0       State  Biden, Joe - Democratic  Trump, Donald - Republican
1  Nationwide                     51.3                        46.8
2     Alabama                     36.6                          62
3      Alaska                     42.8                        52.8
4     Arizona                     49.2                        48.9

In [ ]:
twenty=twenty.drop(twenty.index[0])

In [ ]:
twenty.tail(10)

            State Democrat Republican
49  West Virginia     29.7       68.6
50      Wisconsin     49.4       48.8
51        Wyoming     26.6       69.9
52  Washington DC     92.1        5.4
53            NaN      NaN        NaN
54         Region      NaN        NaN
55    The Midwest       48       50.1
56  The Northeast     58.7       39.5
57      The South     45.1       53.4
58       The West       57       40.4

In [ ]:
twenty.head()

        State Democrat Republican
1  Nationwide     51.3       46.8
2     Alabama     36.6         62
3      Alaska     42.8       52.8
4     Arizona     49.2       48.9
5    Arkansas     34.8       62.4

In [ ]:
twenty.tail(10)

            State Democrat Republican
49  West Virginia     29.7       68.6
50      Wisconsin     49.4       48.8
51        Wyoming     26.6       69.9
52  Washington DC     92.1        5.4
53            NaN      NaN        NaN
54         Region      NaN        NaN
55    The Midwest       48       50.1
56  The Northeast     58.7       39.5
57      The South     45.1       53.4
58       The West       57       40.4

In [ ]:
twenty=twenty.drop(twenty.index[-6:])

In [ ]:
twenty.tail()

            State Democrat Republican
48     Washington       58       38.8
49  West Virginia     29.7       68.6
50      Wisconsin     49.4       48.8
51        Wyoming     26.6       69.9
52  Washington DC     92.1        5.4

In [ ]:
twenty.dtypes

State         object
Democrat      object
Republican    object
dtype: object

In [ ]:
twenty["Democrat"] = pd.to_numeric(twenty["Democrat"], downcast="float")
twenty["Republican"] = pd.to_numeric(twenty["Republican"], downcast="float")

In [ ]:
twenty['Margin']= (twenty["Democrat"] - twenty["Republican"])
twenty['Partisan Lean']= twenty['Margin'] -4.4

In [ ]:
twenty.head()

        State   Democrat  Republican     Margin  Partisan Lean
1  Nationwide  51.299999   46.799999   4.500000       0.100000
2     Alabama  36.599998   62.000000 -25.400002     -29.800001
3      Alaska  42.799999   52.799999 -10.000000     -14.400000
4     Arizona  49.200001   48.900002   0.299999      -4.100001
5    Arkansas  34.799999   62.400002 -27.600002     -32.000004

In [ ]:
twenty.tail()

            State   Democrat  Republican     Margin  Partisan Lean
48     Washington  58.000000   38.799999  19.200001      14.800001
49  West Virginia  29.700001   68.599998 -38.899998     -43.299999
50      Wisconsin  49.400002   48.799999   0.600002      -3.799998
51        Wyoming  26.600000   69.900002 -43.300003     -47.700005
52  Washington DC  92.099998    5.400000  86.699997      82.299995

In [ ]:
states.head()

        State State_ID
0     Alabama       AL
1      Alaska       AK
2     Arizona       AZ
3    Arkansas       AR
4  California       CA

In [ ]:
twenty = pd.merge(twenty, states, on= 'State', how= 'inner')

In [ ]:
twenty.tail()

            State   Democrat  Republican     Margin  Partisan Lean State_ID
46     Washington  58.000000   38.799999  19.200001      14.800001       WA
47  West Virginia  29.700001   68.599998 -38.899998     -43.299999       WV
48      Wisconsin  49.400002   48.799999   0.600002      -3.799998       WI
49        Wyoming  26.600000   69.900002 -43.300003     -47.700005       WY
50  Washington DC  92.099998    5.400000  86.699997      82.299995       DC

In [ ]:
twenty_districts=[['Maine 1st District',60.11, 37.02, 23.09, 18.69, 'ME1'],
                  ['Maine 2nd District',44.82, 52.26, -7.44, -11.84, 'ME2'],
                  ['Nebraska 1st District', 41.09, 56.01, -14.94, -19.32, 'NE1'],
                  ['Nebraska 2nd District', 51.95, 45.45, 6.5, 2.1, 'NE2'],
                  ['Nebraska 3rd District', 22.34, 75.36, -53.02, -57.42, 'NE3']]

In [ ]:
twenty_districts = pd.DataFrame(twenty_districts, columns =['State','Democrat', 'Republican', 'Margin','Partisan Lean','State_ID'], index=None)

In [ ]:
twenty=pd.concat([twenty, twenty_districts])

In [ ]:
twenty.tail()

                   State  Democrat  Republican  Margin  Partisan Lean State_ID
0     Maine 1st District     60.11       37.02   23.09          18.69      ME1
1     Maine 2nd District     44.82       52.26   -7.44         -11.84      ME2
2  Nebraska 1st District     41.09       56.01  -14.94         -19.32      NE1
3  Nebraska 2nd District     51.95       45.45    6.50           2.10      NE2
4  Nebraska 3rd District     22.34       75.36  -53.02         -57.42      NE3

In [ ]:
twenty['Year']= 2020

In [ ]:
twenty= pd.merge(twenty, tens, on= 'State_ID', how= 'inner')

In [ ]:
twenty.head()

        State   Democrat  Republican  ...  State_ID  Year Electoral Votes
0     Alabama  36.599998   62.000000  ...        AL  2020               9
1      Alaska  42.799999   52.799999  ...        AK  2020               3
2     Arizona  49.200001   48.900002  ...        AZ  2020              11
3    Arkansas  34.799999   62.400002  ...        AR  2020               6
4  California  63.400002   34.299999  ...        CA  2020              55

[5 rows x 8 columns]

In [ ]:
twenty = pd.merge(twenty, baseline, on= 'State_ID', how= 'inner')
twenty.head()

        State   Democrat  ...  Electoral Votes  Baseline Partisan Lean
0     Alabama  36.599998  ...                9              -15.400002
1      Alaska  42.799999  ...                3              -31.399998
2     Arizona  49.200001  ...               11               -6.799999
3    Arkansas  34.799999  ...                6               -5.899998
4  California  63.400002  ...               55               11.200001

[5 rows x 9 columns]

In [ ]:
twenty['Change In Partisan Lean'] = twenty['Partisan Lean'] - twenty['Baseline Partisan Lean']
twenty.head()

        State   Democrat  ...  Baseline Partisan Lean  Change In Partisan Lean
0     Alabama  36.599998  ...              -15.400002               -14.400000
1      Alaska  42.799999  ...              -31.399998                16.999998
2     Arizona  49.200001  ...               -6.799999                 2.699998
3    Arkansas  34.799999  ...               -5.899998               -26.100006
4  California  63.400002  ...               11.200001                13.500002

[5 rows x 10 columns]

In [ ]:
df= pd.concat([zero, four, eight, twelve, sixteen, twenty])

In [ ]:
print(zero.shape)
print(four.shape)
print(eight.shape)
print(twelve.shape)
print(sixteen.shape)
print(twenty.shape)

(56, 10)
(56, 10)
(56, 10)
(56, 10)
(56, 10)
(56, 10)

In [ ]:
df.head()

        State   Democrat  ...  Baseline Partisan Lean  Change In Partisan Lean
0     Alabama  41.599998  ...              -15.400002                      0.0
1      Alaska  27.700001  ...              -31.399998                      0.0
2     Arizona  44.700001  ...               -6.799999                      0.0
3    Arkansas  45.900002  ...               -5.899998                      0.0
4  California  53.400002  ...               11.200001                      0.0

[5 rows x 10 columns]

In [ ]:
df.shape

(336, 10)

In [ ]:
zero.head()

        State   Democrat  ...  Baseline Partisan Lean  Change In Partisan Lean
0     Alabama  41.599998  ...              -15.400002                      0.0
1      Alaska  27.700001  ...              -31.399998                      0.0
2     Arizona  44.700001  ...               -6.799999                      0.0
3    Arkansas  45.900002  ...               -5.899998                      0.0
4  California  53.400002  ...               11.200001                      0.0

[5 rows x 10 columns]

In [ ]:
df.tail(57)

                    State  ...  Change In Partisan Lean
55  Nebraska 3rd District  ...                -5.810000
0                 Alabama  ...               -14.400000
1                  Alaska  ...                16.999998
2                 Arizona  ...                 2.699998
3                Arkansas  ...               -26.100006
4              California  ...                13.500002
5                Colorado  ...                17.999998
6             Connecticut  ...                -1.400000
7                Delaware  ...                 1.900003
8                 Florida  ...                -7.199999
9                 Georgia  ...                 8.000001
10                 Hawaii  ...                 7.200003
11                  Idaho  ...                 4.999994
12               Illinois  ...                 1.100000
13                Indiana  ...                -4.300001
14                   Iowa  ...               -12.399996
15                 Kansas  ...                 2.299997
16               Kentucky  ...               -14.699999
17              Louisiana  ...               -14.800001
18                  Maine  ...                 0.100000
19               Maryland  ...                12.900003
20          Massachusetts  ...                 2.300001
21               Michigan  ...                -6.300002
22              Minnesota  ...                 0.800001
23            Mississippi  ...                -3.500002
24               Missouri  ...               -15.999994
25                Montana  ...                 4.699999
26               Nebraska  ...                 6.000002
27                 Nevada  ...                 1.999998
28          New Hampshire  ...                 4.699998
29             New Jersey  ...                -3.900000
30             New Mexico  ...                 6.799997
31               New York  ...                -5.800001
32         North Carolina  ...                 7.599996
33           North Dakota  ...                -9.599998
34                   Ohio  ...                -8.400000
35               Oklahoma  ...               -15.100006
36                 Oregon  ...                11.699999
37           Pennsylvania  ...                -6.899996
38           Rhode Island  ...               -12.199997
39         South Carolina  ...                 0.300001
40           South Dakota  ...                -7.400000
41              Tennessee  ...               -23.300001
42                  Texas  ...                11.800001
43                   Utah  ...                16.300005
44                Vermont  ...                21.600000
45               Virginia  ...                14.299997
46             Washington  ...                 9.800001
47          West Virginia  ...               -36.499996
48              Wisconsin  ...                -3.499999
49                Wyoming  ...                -7.100002
50          Washington DC  ...                 6.599998
51     Maine 1st District  ...                11.260000
52     Maine 2nd District  ...               -13.210000
53  Nebraska 1st District  ...                 4.160000
54  Nebraska 2nd District  ...                21.000000
55  Nebraska 3rd District  ...                -6.940000

[57 rows x 10 columns]

In [ ]:
import numpy as np

conditions = [
    (df['Margin'] >= 10),
    (df['Margin'] >= 5) & (df['Margin'] < 10),
    (df['Margin'] > -5) & (df['Margin'] < 5),
    (df['Margin'] > -10) & (df['Margin'] <= -5),
    (df['Margin'] <= -10),
    ]
values = ['Safe Democrat', 'Lean Democrat', 'Swing', 'Lean Republican', 'Safe Republican',]
df['Status'] = np.select(conditions, values)

In [ ]:
color_dict = dict({'Safe Democrat':'blue',
                  'Lean Democrat':'slateblue',
                  'Swing Democrat': 'purple',
                  'Lean Republican': 'indianred',
                   'Safe Republican': 'red'})

In [ ]:
import plotly.express as px
fig = px.scatter(df, x= 'Margin', y= 'Change In Partisan Lean', color="Status",
                 size='Electoral Votes', hover_name="State",color_discrete_map={'Safe Democrat':'blue',
                  'Lean Democrat':'slateblue',
                  'Swing': 'purple',
                  'Lean Republican': 'indianred',
                   'Safe Republican': 'red'}, title="The Polarized States of America", size_max=80, animation_group='State', animation_frame='Year', range_x= [-90,90], range_y=[-40,40]

)
fig.update_layout(
    margin=dict(l=11, r=11, t=11, b=11),
    paper_bgcolor="white",
)
fig.show()